.hotelContainer {
 
    margin-bottom: 20px !important;
    margin-top: 20px;
    width: 60%;
    margin: 0 auto;
}


.hotelRow {
  padding: 10px;
   
}

.fa-star {
    font-size: 10px;
}

.checked {
   color: yellow;
}

.hotelRow p{
    margin-top: 0;
    margin-bottom: 0;
}



.hotelImage {
    max-width:100%;
    max-height:100%;
}

.priceBox {
    width: 100%;
    float: right;

    padding: 5px;
    margin-top: 20%;
    font-size: 12px;
    text-align: right;
    background-color: #AAAAAA;
    color: white;
}

.priceBox span {
    display: inline;
}

.hotelPrice {
    font-size: 18px;
}

.hotelName {
    color: #0074D9;
}

.showAvailable {
    background-color: #FF851B;
    color: white;
    border: none;
    margin-top: 10px;
}

.usdPrice {
    
    font-size: 10px;
}